
:root
{
    --plano-fundo: #FFF;
    --titulo: #000000;
    --barra: #D9D9D9;
    --texto-titulos: #fff;
    --toogle: #000000;
    --logo: url("light.jpg");
    --button: #FFFFFF;
    --press: #FF0000;
    --plano-fundo2: #272626;
    --login: #272626;
    --place: #B6B6B6;
    --lem: #B6B6B6;
    --lemb: #B6B6B6;

    
}



.escuro
{
    --plano-fundo: #272626;
    --titulo: #FFF;
    --texto-titulos: #000000;
    --barra: #272626;
    --toogle: #FFFFFF;
    --logo: url("dark.jpg");
    --button: #FF0000;
    --press:  #FFFFFF;
    --plano-fundo2:  #FFFFFF;
    --login: #FFFFFF;
    --place: #000000;
    --lem: #000000;
    --lemb: #FFFFFF;
    
    
    
}



.logo
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    height: 100px;
    background-image: var(--logo);
    
}



.textfield{
    display: none;
}

body{
    background-color: var(--plano-fundo);
    margin: 0;
    font-family: 'Poppins', sans-serif;
}


nav{

    display: none;

}


header{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--barra);
    border-bottom:  #FF0000 3px solid ;
   


}


#botao-hamburguer{
    background-color: transparent;
    font-size: 24px;
    border: 0;
    color: var(--toogle);

}

#btn{

    font-size: 30px;
}

#botao-lua{
    background-color: transparent;
    font-size: 44px;
    right: -50px;
    top: -10px;
    border: 0;
    color: var(--toogle);

}


#banner img{
    width: 100%;
    height: 100%;
   

}

#banner{
    position: relative;
    
}


img{

    width: 300px;
    height: 150px;
    background:#D9D9D9;
}




#sess h2 {
    color: var(--titulo);
    padding: 3% 2% ;
    align-items: center;
    text-align: center;
  
}



#destaq h2 {


    padding: 2% 1%;
    text-align: center;
}

#carde{
    

    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 29px;
  
    


}


.card img{

    padding: 2% 1%;
    width: 286px;
    height: 265px;
    align-items: center;
    background-color: var(--plano-fundo2)!important;

}

.card{
   
    color: var(--texto-titulos);
    background-color: var(--plano-fundo2)!important;

    
}

.btn {
    background-color: var(--button)!important;
    color: var(--press)!important;
    border: #FF0000 1px solid!important;
    text-decoration: none;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
}









#carde2 img{

    
    background-color: #FFFF;
    width: 200px;
    height: 200px;
    display: flex;

}

#carde2{

   
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 2% 2%;
    gap: 20px;
    


}

.card2{

    color: var(--titulo);
    width: 60%!important;
    height: 10%!important;
    align-items: center;
    align-content: center;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: 15px;

    
}





#nuss{

    position: relative;
}

#nuss{
       
        color: var(--titulo);
        display: flex;
        flex-direction: column;
        font-size: 25px;
        padding: 2% 1%;

       
}


#nuss h2{

    padding: 4% 4%;
}








    footer{
        
        color: var(--titulo);
        background-color: var(--barra);
        width: 100%;
        margin: 0;
        padding: 0.5% 0;
        text-align: center;
        margin: 0;
        size: 15px;
        font-size: 10px;
        border-top:  #FF0000 3px solid;
    }


   
    .container img {

        display: none;
    }


    @media (min-width: 1280px)
{


    


  

    .container img{

        display: block;
        background-color: transparent;
        width: 400px;
        height: 400px;
        float: right;
        margin-right: 20px;
        color: transparent;

    }


    #botao-hamburguer{

        display: none;
    }




    .logo{

        position: relative;
    }

    .logo{

        right: -25px!important;
        
    }


    header{

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    


    nav{
        position: relative;
    }

    nav
    {

        text-decoration: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 2% 1%;
        left: -220px!important;
        margin-right: -50px!important;
        margin-left: -20px;
    }

    a{

        display: flex;
        justify-content: space-around;
        font-weight: bold;
        text-decoration: none;
        font-size: 15px;
        margin: 0 12px;
        color: var(--titulo);
    

    }



        a:hover
    {
        border-radius: 10px;
        color: #FF0000;
    
    }


    #btn{

        position: relative;
    }


    #btn{

        right: -250px;
    }


    .textfield{

        position: relative;
    }

    .textfield{
       
        text-align: center;
        padding: 2% 1%;
        width: 500px;
        display: flex;
        top: -1px!important;
        color: var(--texto-titulos);
        
    }

    
    .textfield::placeholder{

        color: var(--texto-titulos);
        padding: 1%;
       
    }


    input{
        
        background-color: var(--titulo);
        width: 600px;
        border-radius: 10px;
        
    }



        #carde2{

   
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: space-between;
            flex-direction: row;
            padding: 2% 2%;
            gap: 20px;
            
        
        
        }

        
        .card2{

            color: var(--titulo);
            width: 60%!important;
            height: 10%!important;
            align-items: center;
            align-content: center;
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            font-size: 15px;
        
            
        }


        .card-img-top2{

            position: relative;
        }

        .card-img-top2{

            right: -180px;
        }


      
        

        #carde{
    
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            text-align: center;
            align-items: center;
            gap: 29px;
    
            
        
            
            }




       


        .btn {
          
            background-color: var(--button)!important;
            color: var(--press)!important;
            text-decoration: none;
            border-radius: 10px;
            font-size: 15px;
            cursor: pointer;
        }

     
        
      
   
        
    }






