
:root
{
    --plano-fundo: #FFF;
    --titulo: #000000;
    --barra: #D9D9D9;
    --texto-titulos: #fff;
    --toogle: #000000;
    --logo: url("light.jpg");
    --button: #FFFFFF;
    --press: #FF0000;
    --plano-fundo2:  #272626;

    
}



.escuro
{
    --plano-fundo: #272626;
    --titulo: #FFF;
    --barra: #272626;
    --toogle: #FFFFFF;
    --logo: url("dark.jpg");
    --button: #FF0000;
    --press:  #FFFFFF;
    --plano-fundo2:  #FFFFFF;;
    
    
    
}



.logo
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    height: 100px;
    background-image: var(--logo);
    
}



body{
    background-color: var(--plano-fundo);
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--barra);
}
#botao-hamburguer{
    background-color: transparent;
    font-size: 24px;
    border: 0;
    color: var(--toogle);

}

#btn{

    font-size: 30px;
}

#botao-lua{
    background-color: transparent;
    font-size: 44px;
    right: -50px;
    top: -10px;
    border: 0;
    color: var(--toogle);

}


#banner img{
    width: 100%;
    height: 100%;
   

}

#banner{
    position: relative;
    
}


img{

    width: 300px;
    height: 150px;
    background:#D9D9D9;
}




#sess h2 {
    color: var(--titulo);
    padding: 3% 2% ;
    align-items: center;
    text-align: center;
  
}



#destaq h2 {


    padding: 2% 1%;
    text-align: center;
}

#carde{
    

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 2% 2%;
    gap: 20px;
    


}


.card img{

    background-color: var(--plano-fundo2)!important;
    width: 100px;
    height: 100px;
}

.card{
   
    color: var(--plano-fundo);
    background-color: var(--plano-fundo2)!important;
    padding: 10% 5%;
    align-items: center;
    align-content: center;
    width: 300px!important;
    height: 300px!important;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size: 15px;
    cursor: pointer;

    
}

.btn {
    background-color: var(--button)!important;
    color: var(--press)!important;
    border: 20px;
    text-decoration: none;
    border-radius: 10px;
    align-items: center;
    font-size: 15px;
    cursor: pointer;
}




#carde2 img{

    
    background-color: var(--plano-fundo2);
    width: 200px;
    height: 200px;
    display: flex;

}

#carde2{

   
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 2% 2%;
    gap: 20px;
    


}

.card2{

    color: var(--titulo);
    width: 60%!important;
    height: 10%!important;
    align-items: center;
    align-content: center;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: 15px;

    
}







#nuss{
 
        color: var(--titulo);
        display: flex;
        flex-direction: column;
        font-size: 15px;
        padding: 4% 4%;
        text-align: left;
   
}


.container-banner img{

    display: none;
    width: 500px;
    justify-content: space-between;
}



.container-banner 
    
    {
    
    display: flex;
    float: right;
    justify-content: space-between;
    
    }

    footer{
        
        color: var(--titulo);
        background-color: var(--barra);
        width: 100%;
        margin: 0;
        padding: 0.5% 0;
        text-align: center;
        margin: 0;
        size: 15px;
        font-size: 10px;
    }