
nav{
    position: relative;
}

nav
{

    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2% 1%;
    left: -90px;
    
}



.main-login{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 2% 1%;
}

img{

    width: 200px;
    height: 200px;
    background-color: transparent;
}

h2{
    position: relative;
}
h2{

    top: 29px;
    color: var(--texto-titulos);
}


.card-login{
    margin: 25px 25px;
    width: 500px;
    height: 400px;
    display: flex;
    background-color: var(--login);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    border-radius: 10px;
    box-shadow: 0px 10px 40px #00000056;
}


.text--field{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
    margin: 10px 0px ;
}

.text--field > input{
    position: relative;
}

.text--field > input{
    top: 40px;
    background-color: var(--lem);
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    color: var(--texto-titulos);
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.text--field > label{
    position: relative;
}

.text--field > label{
    top: 40px;
    color: #f0ffffde;
    margin-bottom: 10px; 
}

.text--field > input::placeholder{
    color: var(--palce)

}


.form-lembrar{
    position: relative;
}

.form-lembrar{

    display: flex;
    padding: 2% 1%;
    top: 40px;
    left: -100px;
    color: var(--texto-titulos);
}

.form-check-input{

    background: var(--texto-titulos);
}


.btn-login{

    position: relative;
}

.btn-login{
   
    text-align: center;
    top: 05px;
    right: -155px;
    padding: 10px;
    margin: 20px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 3px;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00000056;
}



footer{
        
    color: var(--titulo);
    background-color: var(--barra);
    width: 100%;
    margin: 0;
    padding: 0.5% 0;
    text-align: center;
    margin: 0;
    size: 15px;
    font-size: 10px;
    border-top:  #FF0000 3px solid ;
}


@media only screen and (max-width: 600px){
    
    .form-lembrar{
        position: relative;
    }

    .form-lembrar{

        padding: 2% 1%;
        left: -40px!important;
    }

    .btn-login{
        position: relative;
    }

    .btn-login{
        
        top: 25px;
        left: 1px;
    }

    nav{
        display: none;
    }
    
    .main-login{
        flex-direction: column;
    }

    .left-login > h1{
        display: none;
    }

    .left-login{
        width: 100%;
        height: auto;
    }

    .right-login{
        width: 100%;
        height: auto;
    }

    .left-login-image{
        width: 50vw;
    }
    .card-login{
        width: 90%;
    }
}